.consul-dashboard-table {
  border: 1px solid #9abbf9;
  display: inline-table;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

tr:last-child td {
  border-bottom: 0;
}

tr:nth-child(even) {
  background-color: #a5b4ba73;
}

td,
th {
  border-bottom: 1px solid #9abbf9;
  border-right: 1px solid #9abbf9;
  padding: 0.5rem;
  text-align: center;
}

th:last-child {
  border-right: 0;
}

.end-fix-container {
  display: flex;
  align-items: end;
}
